.App {
  text-align: center;
  max-width: 1080px;
    position: relative;
    margin: 0 auto;
    padding: 50px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.done,
.active {
  background-color: green !important;
  border-color: green !important;
  color: white !important;
}
.todo,
.inactive {
  background-color: red !important;
  border-color: red !important;
  color: white !important;
}

.search-btn {
  width: 150px;
  border-radius: 8px;
  border: 1px solid;
  padding: 12px;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
